@using esThings.Devices

@model IEnumerable<GarbageCanStatusMessage>

@{
    ViewBag.Title = "Analyze";
}

<h2>Analyze</h2>

<table class="table">
    <thead>
    <tr>
        <th>Sent</th>
        <th>MessageId</th>
        <th>DeviceId</th>
        <th>DeviceKey</th>
        <th>Fullness</th>
        <th>Status</th>
    </tr>
    </thead>
    @foreach (GarbageCanStatusMessage status in Model.OrderByDescending(s => s.MessageSentDateTime))
    {
        <tr>
            <td>@status.MessageSentDateTime.ToString("G")</td>
            <td>@status.MessageId</td>
            <td>@status.DeviceId</td>
            <td>@status.DeviceKey</td>
            <td>@status.Fullness</td>

            @if (status.IsFull)
            {
                <td class="alert-danger">Full!</td>
            }
            else if (status.IsEmpty)
            {
                <td class="alert-success">Empty</td>
            }
            else
            {
                <td class="alert-info">Ok</td>
            }
        </tr>
    }
</table>

<p class="text-left">@ViewBag.BlobContents</p>

